header {
    padding: 3em;
    background: #272727;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: left;
}

a {
    padding: 0.5em;
    text-decoration: none;
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #272727;
    font-size: 4em;
    text-align: center;
}

button {
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.title{
         font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
         margin-bottom: 10px;
         text-align:center;
         width: 210px;
         color:#272727;
         border: solid black 2px;
         }

         input[type="button"]
         {
         background-color:white;
         color: #272727;
         border: solid black 2px;
         width:100%
         }

         input[type="text"]
         {
         background-color:white;
         border: solid black 2px;
         width:100%
         }
div {
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

table {
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}